In [1]:
import pandas as pd

In [25]:
datos = pd.DataFrame([
  {"Pais": "México", "Poblacion": 126_000_000, "PIB": 1.3},
    {"Pais": "Argentina", "Poblacion": 45_000_000, "PIB": 0.5},
    {"Pais": "Chile", "Poblacion": 19_000_000, "PIB": 0.3},
    {"Pais": "Colombia", "Poblacion": 51_000_000, "PIB": 0.4},
    {"Pais": "Perú", "Poblacion": 33_000_000, "PIB": 0.2},
])
datos

        Pais  Poblacion  PIB
0     México  126000000  1.3
1  Argentina   45000000  0.5
2      Chile   19000000  0.3
3   Colombia   51000000  0.4
4       Perú   33000000  0.2

In [30]:
datos.set_index("Pais",inplace=True)
datos.loc["Chile"]

Poblacion    19000000.0
PIB                 0.3
Name: Chile, dtype: float64

In [31]:
datos.reset_index(inplace=True)
datos

        Pais  Poblacion  PIB
0     México  126000000  1.3
1  Argentina   45000000  0.5
2      Chile   19000000  0.3
3   Colombia   51000000  0.4
4       Perú   33000000  0.2

In [38]:
datos_indexado = datos.set_index("Pais")
datos_indexado

           Poblacion  PIB
Pais
México     126000000  1.3
Argentina   45000000  0.5
Chile       19000000  0.3
Colombia    51000000  0.4
Perú        33000000  0.2

In [43]:
datos_indexado.sort_index(inplace=True)
datos_indexado

           Poblacion  PIB
Pais
Argentina   45000000  0.5
Chile       19000000  0.3
Colombia    51000000  0.4
México     126000000  1.3
Perú        33000000  0.2

In [87]:
import pandas as pd

ciudades = pd.DataFrame([
    ["Nueva York", "EEUU", 8_400_000, 783.8],
    ["Los Angeles", "EEUU", 4_000_000, 1302],
    ["Toronto", "Canada", 2_900_000, 630.2],
    ["Vancouver", "Canada", 675_000, 115],
    ["Londres", "Reino Unido", 9_000_000, 1572],
    ["Manchester", "Reino Unido", 553_000, 115.6],
    ["Tokio", "Japon", 13_900_000, 2194],
    ["Osaka", "Japon", 2_700_000, 223],
    ["Paris", "Francia", 2_200_000, 105.4],
    ["Marsella", "Francia", 861_000, 240.6]
], columns=["Ciudad", "Pais", "Poblacion", "Area_km2"])

ciudades.set_index("Ciudad", inplace=True)
ciudades

                    Pais  Poblacion  Area_km2
Ciudad
Nueva York          EEUU    8400000     783.8
Los Angeles         EEUU    4000000    1302.0
Toronto           Canada    2900000     630.2
Vancouver         Canada     675000     115.0
Londres      Reino Unido    9000000    1572.0
Manchester   Reino Unido     553000     115.6
Tokio              Japon   13900000    2194.0
Osaka              Japon    2700000     223.0
Paris            Francia    2200000     105.4
Marsella         Francia     861000     240.6

In [ ]:
ciudades.loc["Tokio"]
ciudades.loc["Paris","Poblacion"]
ciudades.loc["Los Angeles",["Poblacion","Area_km2"]]
ciudades.loc[["Toronto","Vancouver"]]
ciudades.loc[ciudades["Pais"]=="Reino Unido","Poblacion"]
ciudades.loc["Marsella","Area_km2"]=242
ciudades.loc[ciudades["Poblacion"]>3000000]
ciudades.loc[(ciudades["Pais"]=="Canada") & (ciudades["Poblacion"]<1000000)]
ciudades.loc[ciudades["Area_km2"]<500]
ciudades.loc["Manchester","Poblacion"]=560000

In [96]:
ciudades.loc[(ciudades["Pais"]=="Japon")&(ciudades["Area_km2"]>500)]
ciudades.loc["Vancouver","Poblacion"]=700000
ciudades.loc[ciudades["Poblacion"]<1000000,["Pais","Area_km2"]]
ciudades.loc[(ciudades["Poblacion"]>=2000000) & (ciudades["Poblacion"]<=5000000)]
ciudades.loc["Toronto","Area_km2"]=640

In [112]:
ciudades.loc[ciudades["Pais"]=="Francia",["Poblacion","Area_km2"]]
ciudades.loc["Los Angeles","Area_km2"]=1310
ciudades.loc[(ciudades["Poblacion"]>8000000)|(ciudades["Area_km2"]>150)]
ciudades.loc[ciudades["Pais"]!="EEUU"].index.to_list()
#ciudades.loc[(ciudades["Poblacion"]>500000) & (ciudades["Poblacion"]<1000000),"Poblacion"]

['Toronto',
 'Vancouver',
 'Londres',
 'Manchester',
 'Tokio',
 'Osaka',
 'Paris',
 'Marsella']

In [ ]:
lista = list(map(str ,range(1950,2000+1)))
lista = [a for a in range(1980,2024) if a %2==1]
lista = list(map(str,range(2025,2025-10,-1)))
lista = list(map(str,[1,2,3,4,5]))
lista = list(map( int,['1999', '2005', '2010']))
lista

['2025',
 '2024',
 '2023',
 '2022',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016']