In [2]:
import pandas as pd
import numpy as np

In [38]:
bebe =np.linspace(0,10,100)

In [28]:
lista_nueva = np.array(np.arange(0,10,1))
print(np.count_nonzero(lista_nueva))
lista_nueva.reshape(2,5)

9

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [29]:
np.arange(0,10,2).reshape(5,1)

array([[0],
       [2],
       [4],
       [6],
       [8]])

In [45]:
np.size(bebe)
np.ndim(bebe)
np.shape(bebe)

bebe.itemsize

8

In [46]:
import sqlite3

In [47]:
conection = sqlite3.connect("example.db")
conection

In [48]:
cursor = conection.cursor()

In [50]:
cursor.execute(
    """
    create table if not Exists employed(
        id Integer Primary key,
        name Text Not Null,
        age Integer,
        departamento text
    )
    """
)
conection.commit()

In [52]:
cursor.execute("""insert into employed(name,age,departamento) values("elmer",15,"Lima")""")
conection.commit()

In [54]:
cursor.execute("select * from employed")
rows = cursor.fetchall()


for row in rows:
    print(row)

(1, 'elmer', 15, 'Lima')
(2, 'elmer', 15, 'Lima')