In [1]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

In [7]:
sumatoria = sum([numero for fila in lista_de_listas for numero in fila ])
sumatoria

50

In [8]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
tercer_elemento = [elemento[2] for elemento in lista_de_tuplas]
tercer_elemento

[81, 67, 83]

In [11]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
codigo = list(enumerate(lista))
codigo

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [12]:
nombres = ['Ana', 'Bruno', 'Carlos', 'Diana']
indice = list(enumerate(nombres))
indice

[(0, 'Ana'), (1, 'Bruno'), (2, 'Carlos'), (3, 'Diana')]

In [15]:
respuestas_correctas = ['A', 'C', 'B', 'D']
respuestas_alumno = ['A', 'C', 'A', 'D']
respuesta = [(i,"Correcta" if respuesta_c==respuesta_a else "Incorrecta") 
             for i, (respuesta_c , respuesta_a )in enumerate(zip(respuestas_correctas,respuestas_alumno),1)]
respuesta

[(1, 'Correcta'), (2, 'Correcta'), (3, 'Incorrecta'), (4, 'Correcta')]

In [17]:
materias = ['Matemáticas', 'Historia', 'Ciencias', 'Arte']
orden = dict(enumerate(materias,1))
orden

{1: 'Matemáticas', 2: 'Historia', 3: 'Ciencias', 4: 'Arte'}

In [20]:
materias = ['Matemáticas', 'Historia', 'Ciencias', 'Arte']
notas = [8.5, 6.0, 9.0, 5.5]

aprobados = [(i,materia,nota,"Aprobado" if nota>6 else "Reprobado") for i,(materia,nota)in enumerate(zip(materias,notas),1)]
aprobados

[(1, 'Matemáticas', 8.5, 'Aprobado'),
 (2, 'Historia', 6.0, 'Reprobado'),
 (3, 'Ciencias', 9.0, 'Aprobado'),
 (4, 'Arte', 5.5, 'Reprobado')]

In [21]:
frutas = ['manzana', 'pera', 'uva']
dict(enumerate(frutas,1))

{1: 'manzana', 2: 'pera', 3: 'uva'}

In [22]:
a = [10, 20, 30]
b = [1, 2, 3]
sumatoria =[(x+y) for x,y in zip(a,b)]
sumatoria

[11, 22, 33]

In [24]:
original = [5, 8, 12, 20, 25]
copiado = [5, 8, 11, 20, 26]
no_coinciden = [(i,valor,copia) 
                for i,(valor,copia) in enumerate(zip(original,copiado),1) 
                if valor!=copia ]
no_coinciden

[(3, 12, 11), (5, 25, 26)]

In [28]:
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
lista_tupla = [alquile[1] for alquile in alquiler if alquile[0]!='Apartamento']
lista_tupla

[2150, 1100]

In [38]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] 
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dicionario = {k:v for k,v in zip(meses,gasto)}
dicionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

ventas_mayores =[valor for valor in ventas if valor[0]=="2022"and valor[1]>6000]
ventas_mayores

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

tuplas = [
    (
        'Hipoglicemia' if valor <= 70 else
        'Normal' if valor <= 99 else
        'Alterada' if valor <= 125 else
        'Diabetes',
        valor
    )
    for valor in glicemia
]

print(tuplas)