1 - Haz un programa que solicite a la persona usuaria ingresar dos números decimales y calcular la división entre estos números. El código debe incluir un manejo de error, indicando el tipo de error que se generó si la división no es posible.

In [ ]:
def ingresoDatos(data):
    try:
        for _ in range(2):
            info = input(data)
            
    except as e:
        print(type(e))

In [1]:
import pandas as pd

df = pd.DataFrame({
    'articulo': ['Silla', 'Mesa', 'Lámpara', 'Sofá'],
    'precio': [50, 150, 30, 500],
    'stock': [20, 10, 15, 5],
    'categoria': ['Muebles', 'Muebles', 'Decoración', 'Muebles']
})

In [4]:
df_aumentado = df[["articulo"]].copy()
df_aumentado["precio_aumentado"]=df["precio"]*1.15
df_aumentado

  articulo  precio_aumentado
0    Silla              57.5
1     Mesa             172.5
2  Lámpara              34.5
3     Sofá             575.0

In [7]:
precio_descuento = df[["articulo"]].copy()
precio_descuento["precio_descuento"] = df["precio"]*0.90
precio_descuento

  articulo  precio_descuento
0    Silla              45.0
1     Mesa             135.0
2  Lámpara              27.0
3     Sofá             450.0

In [9]:
valor_stock = df[["articulo"]].copy()
valor_stock["valor_stock"] = df["precio"]*df["stock"]
valor_stock

  articulo  valor_stock
0    Silla         1000
1     Mesa         1500
2  Lámpara          450
3     Sofá         2500

In [16]:
import numpy as np
categoria_precio = df[["articulo"]].copy()

def clasificar_precio(precio):
    if precio < 50:
        return "Barato"
    elif precio <= 200:
        return "Medio"
    else:
        return "Caro"
    

condiciones =[
    (df["precio"]<50),
    (df["precio"]<=200),
    (df["precio"]>200),
]

opciones = ["Barato","Medio","Caro"]

categoria_precio["categoria_precio"]= np.select(condiciones, opciones)

    
#categoria_precio["categoria_precio"] = df["precio"].apply(clasificar_precio)
categoria_precio

  articulo categoria_precio
0    Silla            Medio
1     Mesa            Medio
2  Lámpara           Barato
3     Sofá             Caro

In [19]:
categoria_sano = df[["articulo"]].copy()
categorias =[
    df["precio"]<50,
    df["precio"]<=200,
    df["precio"]>200,
]

opciones = ['Barato', 'Medio', 'Caro']
categoria_sano["categoria_sano"] = np.select(categorias,opciones)
categoria_sano

  articulo categoria_sano
0    Silla          Medio
1     Mesa          Medio
2  Lámpara         Barato
3     Sofá           Caro

In [32]:
stock_menor = df[["articulo"]].copy()
stock_menor= df[df["stock"]<=10][["articulo"]]
stock_menor

  articulo
1     Mesa
3     Sofá